<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col">
                <h5>DevDiary</h5>
                <p>Your daily dose of development blogs</p>
            </div>
           
            <div class="col">
                <h5>Follow Us</h5>
                <ul >
                
                <a href="https://www.linkedin.com/in/sanya-doda-774241216/" target="_blank">LinkedIn</a> | 
                <a href="https://www.instagram.com/hmmm._.230/" target="_blank">Instagram</a> | 
                <a href="https://github.com/sanya-2304" target="_blank">Github</a>
                </ul>
            </div>
            <div class="col">
                <div >
                    <p>&copy; 2024 DevDiary. All rights reserved.</p>
                </div>
            </div>
        </div>
       
    </div>
</footer>